<div class="header">

    <div class="search_container">

        <mat-form-field appearance="outline"  class="search-field">

            <input matInput type="text" placeholder="Search here..."/>

            <mat-icon matSuffix> search </mat-icon>

        </mat-form-field>

    </div>

    <div class="profile-section">

        <div class="employee-info">
            <p class="welcome_text"> Welcome </p>
            <h4 class="employee-name"> Employee </h4>
        </div>

        <img src="https://i.pravatar.cc/300" alt="user" class="profile-img"  routerLink="/dashboard/profile"/>

    </div>

</div>